.Hire-me{
    padding-top: 40px;
    text-align: center;
}
#text{
    display: inline-block;
    max-width: 520px;
    padding: 20px;
}
#fill-up{
    font-weight: 800;
}

form{
  position: relative;
    padding: 20px 0;
}
form input, form textarea{
    height: 30px;
    min-width: 500px;
    border-radius: 10px;
    margin: 10px 0;
    padding-left: 20px;
    background-color: rgb(148, 148, 148);
}
#message{
    height: 200px;
}
form input::placeholder, form textarea::placeholder{
    color: white;
}

#send{
    background-color: rgb(148, 148, 148);
    height: 35px;
    width: 120px;
    border-radius: 10px;
}
#send:hover{
    background-color: black;
}
.unesi:nth-child(1), .unesi:nth-child(2){
    min-width: 235px;
}
.unesi:nth-child(2){
    margin-left: 5px;
}


@media (max-width: 768px) {
    form input, form textarea{
        min-width: 400px;
    }
    .unesi:nth-child(1), .unesi:nth-child(2){
        min-width: 400px;
    }
  }